.nav-container{
    background-color:var(--background);
    height: 8vh;
    width: 100%;
}



.nav-items-container{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 80px;
    color: white;
    
}

.nav-logo{
    color: white;
}

.item{
    display: flex;
    align-items: center;
    gap: 6px;
}